  .to-do-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.to-do-list h1 {
    font-size: 4rem;
}

.to-do-list button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.to-do-list .add-button {
    background-color: hsl(125, 47%, 54%);
}

.to-do-list .add-button:hover {
    background-color: hsl(125, 47%, 44%);
}

.to-do-list .delete-button {
    background-color: hsl(10, 90%, 50%);
}

.to-do-list .delete-button:hover {
    background-color: hsl(10, 90%, 40%);
}

.to-do-list .move-button {
    background-color: hsl(207, 76%, 57%);
}

.to-do-list .move-button:hover {
    background-color: hsl(207, 74%, 42%);
  
}

.to-do-list input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}

.to-do-list ol {
    padding: 0;
}

.to-do-list li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(218, 58%, 10%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.to-do-list .text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
.to-do-list .delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px ;
}
