
.button{
  background-color: rgba(31, 164, 221, 0.607);
  color: white;
  padding: 30px 50px;
  font-size: 20px ;
  border: none;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(37, 7, 113);
}